# Пример файла окружения. Скопируйте в .env и заполните.

BOT_TOKEN=
# Можно указать @username канала или числовой chat_id
CHANNEL_ID=@volleyballmirea
# Ваш user_id (владелец)
OWNER_ID=
# Путь к SQLite
DB_PATH=volleyball_bot.db
